.formElements {
  display: flex;
  flex-direction: column;
  background-color: red;
}

https://www.javascripttutorial.net/javascript-dom/javascript-form-validation/

https://www.geeksforgeeks.org/form-validation-using-html-javascript/